.userAuthForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 8px;

    
    &Field{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &Buttons{
        display: flex;
        gap: 2px;
    }

    &Button{
        flex-grow: 1;
    }
}